.blurry {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-size: 25pt;

  transition: font-size 10s;

}

.readable{
  font-size: 18pt;
}

.highlight-yellow {
  background-color: yellow;
}

.highlight-teal {
  background-color: teal;
  color: white;
}

.highlight-purple {
  background-color: purple;
}

.highlight-cyan {
  background-color: cyan;
}

#comment-container {
  position: fixed;
}
