{% extends 'AppBundle:default:base.html.twig' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>My Story <small>by Anonymous</small></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <button type="button" id="person-0-btn" class="btn btn-large btn-warning" name="button">Person 0 (The poster)</button> <br /> <br>
      <button type="button" id="person-1-btn" class="btn btn-large btn-primary" name="button">Person 1</button> <br /> <br>
      <button type="button" id="person-2-btn" class="btn btn-large btn-default" name="button">Person 2</button>
    </div>

    <div class="col-md-6">
      <p>
        I am a Selfharmer
      </p>

      <p>
        I was never able to explain what the cutting did for me in a way someone would understand: how it was a form of punishment and also of cleansing, how it allowed me to drain everything toxic and spoiled from myself, how it made me feel that my body is truly is mine and no one else. I was completely introverted for about 18 months, not getting out of bed, not seeing a point in anything and most of all, just wanting to not be here anymore. I decided that it would be best for me to tell someone at the university about my illness. This is because I was concerned that if I stayed in the dark place I had been in previously, I would be all on my own, with no one to look out for me, and I could be at risk of harming myself. After telling my friend about my mental health issues, I have been overwhelmed by the amount of support and understanding I have been offered. She saw what was happening and encouraged me to go to the doctors. They couldn't believe that I had kept it to myself for that long, as much as I wanted to explain to my parents what I was going through I couldn’t.  The doctors were so so pleased that I had come to see them. They were encouraging and supportive straight away they seemed to get where I was coming from.
      </p>
    </div>
  </div>
</div>



{% endblock content %}
